.results{
    font-weight: 500;
    font-size: 22px;
    margin:22px 0 20px 0;
    text-align: center;
}

.no-results{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
}

.no-results p{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}