.results{
    font-weight: 500;
    font-size: 22px;
    margin:22px 0 25px 0;
}

.no-results{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border: 1px solid rgb(196, 196, 196);
}

.no-results p{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}