nav{
    background-color: black;
    color: white;
}

nav div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

nav button {
    width: 80px;
    height: 30px;
}


@media (min-width: 1000px){
    nav div{
        width: 1000px;
    }    
}