main{
  width: 100%;
  margin: 0 auto;
  padding: 90px 20px 45px;
  box-sizing: border-box;
}

.cards-div{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.description{
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

@media (min-width: 1020px){
  main{
      width: 1000px;
  }    
}